{{#section 'nav'}}
	{{>navbar}}
{{/section}}
{{#if noProducts}}
    KHÔNG CÓ SẢN PHẨM THỎA YÊU CẦU
{{else}}
    <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="w3-container">
                        <h2 style="color: red;"><b>Danh sách sản phẩm thỏa yêu cầu</b></h2>
                        <div style="display: inline-block;">Sắp xếp: </div>

                        <select id="sapxep" onclick="sapXep()">
                            <option value="thoigian">Thời gian kết thúc</option>
                            <option value="giatang">Giá tăng dần</option>
                            <option value="giagiam">Giá giảm dần</option>
                        </select>

                    </div>
                    <div class="w3-row-padding w3-margin-top">
                    <div id="thoigianketthuc">
                        {{#each productsDate}}
                            <div class="w3-quarter" style="margin-top: 50px">
                                <div class="w3-card-2">
                                {{#ifCond danhmuccon 0}}
                                    <a href="/product/details?id={{idsanpham}}"><img src="/imgs/danhmuc/{{danhmuc}}/{{idhinh}}.jpg" style="width:100%" ></a>
                                {{else}}
                                    <a href="/product/details?id={{idsanpham}}"><img src="/imgs/danhmuc/{{danhmuc}}/{{danhmuccon}}/{{idhinh}}.jpg" style="width:100%" ></a>
                                {{/ifCond}}
                                    <div class="w3-container">
                                        <h6>
                                            <i><b class="checknew" id="new" style="font-size: 14px; color: #DC0064"></i></b>
                                            <a href="/product/details?id={{idsanpham}}" class="username"><b>{{name}}</b></a>
                                            <div style="color: black">
                                                Giá mua ngay:&nbsp;
                                                <span style="color: red; font-weight: bold;">{{number_format price}}</span><br>
                                                Giá hiện tại:&nbsp;
                                                {{#ifCond gia null}}
                                                <span style="color: red; font-weight: bold;"></span><br>
                                                {{else}}
                                                 <span style="color: red; font-weight: bold;">{{number_format gia}}</span><br>
                                                {{/ifCond}}
                                                <div class="formatnamenguoimua" style="display:none;">{{namenguoimua}}</div>
                                                Người mua:<a href="#" class="namenguoimua"></a></br>
                                                Thời gian còn lại:
                                                <div id="time" class="time" style="display:none">{{timeend}}</div></br>
                                                <div id="demo" class="timer" style="color: #609801">{{sub_date timeend}}</div>
                                                <div class="timestart" style="display:none;">{{timestart}}</div>
                                                Bids: {{Bid}}
                                                {{#if ../checklogin}}
                                                    <p class="user" style="display:none;">{{../name}}</p>
                                                {{/if}}
                                            </div>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                    {{/each}}
                    </div>
                    <div id="giatang" style="display: none;">
                        {{#each productsPriceTang}}
                            <div class="w3-quarter" style="margin-top: 50px">
                                <div class="w3-card-2">
                                {{#ifCond danhmuccon 0}}
                                    <a href="/product/details?id={{idsanpham}}"><img src="/imgs/danhmuc/{{danhmuc}}/{{idhinh}}.jpg" style="width:100%" ></a>
                                {{else}}
                                    <a href="/product/details?id={{idsanpham}}"><img src="/imgs/danhmuc/{{danhmuc}}/{{danhmuccon}}/{{idhinh}}.jpg" style="width:100%" ></a>
                                {{/ifCond}}
                                    <div class="w3-container">
                                        <h6>
                                            <i><b class="checknew" id="new" style="font-size: 14px; color: #DC0064"></i></b>
                                            <a href="/product/details?id={{idsanpham}}" class="username"><b>{{name}}</b></a>
                                            <div style="color: black">
                                                Giá mua ngay:&nbsp;
                                                <span style="color: red; font-weight: bold;">{{number_format price}}</span><br>
                                                Giá hiện tại:&nbsp;
                                                {{#ifCond gia null}}
                                                <span style="color: red; font-weight: bold;"></span><br>
                                                {{else}}
                                                 <span style="color: red; font-weight: bold;">{{number_format gia}}</span><br>
                                                {{/ifCond}}
                                                <div class="formatnamenguoimua" style="display:none;">{{namenguoimua}}</div>
                                                Người mua:<a href="#" class="namenguoimua"></a></br>
                                                Thời gian còn lại:
                                                <div id="time" class="time" style="display:none">{{timeend}}</div></br>
                                                <div id="demo" class="timer" style="color: #609801">{{sub_date timeend}}</div>
                                                <div class="timestart" style="display:none;">{{timestart}}</div>
                                                Bids: {{Bid}}
                                                {{#if ../checklogin}}
                                                    <p class="user" style="display:none;">{{../name}}</p>
                                                {{/if}}
                                            </div>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                    {{/each}}
                    </div>
                    <div id="giagiam" style="display: none;">
                        {{#each productsPriceGiam}}
                            <div class="w3-quarter" style="margin-top: 50px">
                                <div class="w3-card-2">
                                {{#ifCond danhmuccon 0}}
                                    <a href="/product/details?id={{idsanpham}}"><img src="/imgs/danhmuc/{{danhmuc}}/{{idhinh}}.jpg" style="width:100%" ></a>
                                {{else}}
                                    <a href="/product/details?id={{idsanpham}}"><img src="/imgs/danhmuc/{{danhmuc}}/{{danhmuccon}}/{{idhinh}}.jpg" style="width:100%" ></a>
                                {{/ifCond}}
                                    <div class="w3-container">
                                        <h6>
                                            <i><b class="checknew" id="new" style="font-size: 14px; color: #DC0064"></i></b>
                                            <a href="/product/details?id={{idsanpham}}" class="username"><b>{{name}}</b></a>
                                            <div style="color: black">
                                                Giá mua ngay:&nbsp;
                                                <span style="color: red; font-weight: bold;">{{number_format price}}</span><br>
                                                Giá hiện tại:&nbsp;
                                                {{#ifCond gia null}}
                                                <span style="color: red; font-weight: bold;"></span><br>
                                                {{else}}
                                                 <span style="color: red; font-weight: bold;">{{number_format gia}}</span><br>
                                                {{/ifCond}}
                                                <div class="formatnamenguoimua" style="display:none;">{{namenguoimua}}</div>
                                                Người mua:<a href="#" class="namenguoimua"></a></br>
                                                Thời gian còn lại:
                                                <div id="time" class="time" style="display:none">{{timeend}}</div></br>
                                                <div id="demo" class="timer" style="color: #609801">{{sub_date timeend}}</div>
                                                <div class="timestart" style="display:none;">{{timestart}}</div>
                                                Bids: {{Bid}}
                                                {{#if ../checklogin}}
                                                    <p class="user" style="display:none;">{{../name}}</p>
                                                {{/if}}
                                            </div>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                    {{/each}}
                    </div>
                    </div>
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            {{#if showPrevPage}}
                                <li>
                                    <a href="/product/byCat/?id1={{CatId1}}&id2={{CatId2}}&page={{prevPage}}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {{/if}}
                            {{#each pages }}
                                {{#if isActive }}
                                    <li class="active">
                                        <a href="/product/byCat/?id1={{../CatId1}}&id2={{../CatId2}}&page={{pageValue}}">{{pageValue}}</a>
                                    </li>
                                {{else}}
                                    <li>
                                        <a href="/product/byCat/?id1={{../CatId1}}&id2={{../CatId2}}&page={{pageValue}}">{{pageValue}}</a>
                                    </li>
                                {{/if}}
                            {{/each}}
                            {{#if showNextPage }}
                                <li>
                                    <a href="/product/byCat/?id1={{CatId1}}&id2={{CatId2}}&page={{nextPage}}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {{/if}}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
{{/if}}
{{#section 'js'}}
    <script>
          // Display the result in the element with id="demo"
          var element=document.getElementsByClassName("timer");
          var element2=document.getElementsByClassName("time");
          var checknew=document.getElementsByClassName("checknew");
          var timestart=document.getElementsByClassName("timestart");
          for(var j=0;j<checknew.length;j++)
          {
            var now = new Date().getTime();
            var y=timestart[j].innerHTML;
            var distance =now-new Date(y).getTime() ;
              // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            if(days<2 && days>=0)
            {
                checknew[j].innerHTML="(New)";
            }
          }
          var x = setInterval(function()
          {
          
          for(var i=0;i<element2.length;i++)
          {
            var now = new Date().getTime();
            var y=element2[i].innerHTML;
            console.log(element2.length);
            var distance =new Date(y).getTime()-now ;
            console.log(distance);
              // Time calculations for days, hours, minutes and seconds
              var days = Math.floor(distance / (1000 * 60 * 60 * 24));
              var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
              var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
              var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                element[i].innerHTML = days + "d " + hours + "h "
              + minutes + "m " + seconds + "s ";
          
          // If the count down is finished, write some text 
              if (distance < 0) {
                //clearInterval(x);
                   element[i].innerHTML = "EXPIRED";
                  
              }
            }
        }, 1000);
        var formatnamenguoimua=document.getElementsByClassName('formatnamenguoimua');
        var namenguoimua=document.getElementsByClassName('namenguoimua');
        for(var j=0;j<formatnamenguoimua.length;j++)
        {
            var temp=formatnamenguoimua[j].innerHTML;
            
            for(var i=0;i<temp.length;i++)
            {
                if(i%2==0)
                {
                    temp=temp.replace(temp[i],"*");
                }
            }
            namenguoimua[j].innerHTML=temp;
        }

        function sapXep(){
            var x=document.getElementById("sapxep");
            var index=x.selectedIndex;
            if(index === 0){
                $('#giagiam').hide();
                $('#giatang').hide();
                $('#thoigianketthuc').show();
            } else if (index === 1){
                $('#giagiam').hide();
                $('#giatang').show();
                $('#thoigianketthuc').hide();
            } else if (index === 2){
                $('#thoigianketthuc').hide();
                $('#giatang').hide();
                $('#giagiam').show(); 
            }
        }
        var classname=document.getElementsByClassName('user');
        var classusername=document.getElementsByClassName('username');
        for(var j=0;j<formatnamenguoimua.length;j++)
        {
            var temp=formatnamenguoimua[j].innerHTML;
            var name=classname[j].innerHTML;
            if(temp===name)
            {
                classusername[j].style.color="#00FF8A";
            }
        }
    </script>
{{/section}}