{{#section 'nav'}}
	{{>navbar}}
{{/section}}
{{#if noProductsDetailsChild}}
	{{#each productsDetailsNoBid}}
	<div class="col-md-10">
		    	<div class="panel panel-default">
		         	<div class="panel-body">
			    	<div class="w3-container">
					<h1 style="color:#005555"><b><i>{{name}}</i></b></h1>
				</div>

				<div class="w3-content w3-display-container" style="max-width:500px">
				{{#ifCond danhmuccon 0}}
				  <img class="mySlides" src="/imgs/danhmuc/{{danhmuc}}/{{idhinh}}.jpg" style="width:100%;cursor: zoom-in"
				   onclick="document.getElementById('modal01').style.display='block'">
				   	<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
					    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
					    <div class="w3-modal-content w3-animate-zoom">
					       <img src="/imgs/danhmuc/{{danhmuc}}/{{idhinh}}.jpg" style="width:100%">
					    </div>
				  	</div>
				  <img class="mySlides" src="/imgs/danhmuc/{{danhmuc}}/{{idhinh}}_1.jpg" style="width:100%;cursor: zoom-in"
				  	onclick="document.getElementById('modal02').style.display='block'">
				   	<div id="modal02" class="w3-modal" onclick="this.style.display='none'">
					    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
					    <div class="w3-modal-content w3-animate-zoom">
					       <img src="/imgs/danhmuc/{{danhmuc}}/{{idhinh}}_1.jpg" style="width:100%">
					    </div>
				  	</div>
				  <img class="mySlides" src="/imgs/danhmuc/{{danhmuc}}/{{idhinh}}_2.jpg" style="width:100%;cursor: zoom-in"
				  	onclick="document.getElementById('modal03').style.display='block'">
				   	<div id="modal03" class="w3-modal" onclick="this.style.display='none'">
					    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
					    <div class="w3-modal-content w3-animate-zoom">
					       <img src="/imgs/danhmuc/{{danhmuc}}/{{idhinh}}_2.jpg" style="width:100%">
					    </div>
				  	</div>
				  	{{else}}
                        <img class="mySlides" src="/imgs/danhmuc/{{danhmuc}}/{{danhmuccon}}/{{idhinh}}.jpg" style="width:100%;cursor: zoom-in"
						onclick="document.getElementById('modal01').style.display='block'">
						<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
							<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
							<div class="w3-modal-content w3-animate-zoom">
								<img src="/imgs/danhmuc/{{danhmuc}}/{{danhmuccon}}/{{idhinh}}.jpg" style="width:100%">
							</div>
						</div>
						<img class="mySlides" src="/imgs/danhmuc/{{danhmuc}}/{{danhmuccon}}/{{idhinh}}_1.jpg" style="width:100%;cursor: zoom-in"
						onclick="document.getElementById('modal02').style.display='block'">
						<div id="modal02" class="w3-modal" onclick="this.style.display='none'">
							<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
							<div class="w3-modal-content w3-animate-zoom">
								<img src="/imgs/danhmuc/{{danhmuc}}/{{danhmuccon}}/{{idhinh}}_1.jpg" style="width:100%">
							</div>
						</div>
						<img class="mySlides" src="/imgs/danhmuc/{{danhmuc}}/{{danhmuccon}}/{{idhinh}}_2.jpg" style="width:100%;cursor: zoom-in"
						onclick="document.getElementById('modal03').style.display='block'">
						<div id="modal03" class="w3-modal" onclick="this.style.display='none'">
							<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
							<div class="w3-modal-content w3-animate-zoom">
								<img src="/imgs/danhmuc/{{danhmuc}}/{{danhmuccon}}/{{idhinh}}_2.jpg" style="width:100%">
							</div>
						</div>
                    {{/ifCond}}
				  <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:50%">
				    <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)" style="color:red">&#10094;</div>
				    <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)" style="color:red">&#10095;</div>
				    <span class="w3-badge demo w3-border w3-transparent w3-hover-red" onclick="currentDiv(1)"></span>
				    <span class="w3-badge demo w3-border w3-transparent w3-hover-red" onclick="currentDiv(2)"></span>
				    <span class="w3-badge demo w3-border w3-transparent w3-hover-red" onclick="currentDiv(3)"></span>
				  </div>
				</div><!--class="w3-content w3-display-container"-->
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-4">
							{{#each ../appreciate}}
								<div id="cong" style="display:none;">{{Cong}}</div>
								<div id="tru" style="display:none;">{{Tru}}</div>
							{{/each}}
							<div id="ID" style="display:none;">{{idsanpham}}</div>
							ID:
							<p style="color: red" id="IDdaugia"></p>
							<div id="formatnamenguoiban" style="display:none;">{{namenguoiban}}</div>
							<p id="namenguoiban">Người Bán: <a href="#"></a></p>
							<p>Điểm đánh giá:{{diemdanhgia}}</p>
							<p style="color:black;">Giá mua ngay:{{number_format price}}</p>
							<p id="gia" style="display:none">{{giakhoidiem}}</p>
							<p style="color:black">Bắt đầu: {{date_format timestart}}</p>
							<p style="color:black">Kết thúc:{{date_format timeend}}</p>
							{{#if ../checklogin}}
							<form id="frmBid" method="post" action="">
							    <input type="text" class="form-control" id="InputBid" name="Bid" style="width: 200px">
							    <input type="hidden" class="form-control" id="idsanpham" name="idsanpham" value="{{idsanpham}}" style="width:200px">
							    <input type="hidden" class="form-control" id="nguoimua" name="nguoimua" value="{{../userID}}" style="width:200px">
							    <input type="hidden" class="form-control" id="thoigian" name="thoigian" style="width:200px">
							    <input type="hidden" class="form-control" id="bid" name="BidCount" style="width:200px" value="{{Bid}}">
							</form>
							<form id="frmFavourite" method="post" action="">
								<input type="hidden" class="form-control" id="idnguoimua" name="idnguoimua" value="{{../userID}}" style="width: 200px">
							    <input type="hidden" class="form-control" id="idsanpham" name="idsanpham" value="{{idsanpham}}" style="width:200px">
							</form>
							</br>
							<button type="submit" class="btn btn-success" id="btnBid" title="Đấu giá">BID</button>
							<button type="button" class="btn btn-danger" aria-label="Left Align" title="Yêu thích" id="btnFavor">
							  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
							</button>
							{{/if}}
						</div>
					</div><!--row-->
				</div><!--class="container-fluid"-->
				<hr/>
				<div class="w3-container">
				  <h2 style="color:#DC861F"><b><i>Thông tin chi tiết</i></b></h2>
				</div>

				<div class="w3-bar w3-black">
				  <button class="w3-bar-item w3-button" onclick="openCity('Gioithieu')">Giới thiệu</button>
				  <button class="w3-bar-item w3-button" onclick="openCity('Thongtin')">Thông tin nhận hàng</button>
				  <button class="w3-bar-item w3-button" onclick="openCity('Baohanh')">Bảo hành</button>
				</div>

				<div id="Gioithieu" class="w3-container city">
				 	{{{intro}}}
				</div>

				<div id="Thongtin" class="w3-container city" style="display:none">
				   {{{receiveinfo}}}
				</div>
				<div id="Baohanh" class="w3-container city" style="display:none">
					{{{warranty}}}
				</div>
				<hr/>
		        <div class="w3-container">
		            <h2 style="color:#DC861F"><b><i>Có thể bạn quan tâm</i></b></h2>
		        </div>

		        <div class="w3-row-padding w3-margin-top">
		         {{#each ../productsDetailsCare}}
		            <div class="w3-third">
		                <div class="w3-card-2">
		                	{{#ifCond danhmuccon 0}}
		                    	<a href="/product/details?id={{idsanpham}}"><img src="/imgs/danhmuc/{{danhmuc}}/{{idhinh}}.jpg" style="width:100%;height: 100%"></a>
		                    {{else}}
		                    	<a href="/product/details?id={{idsanpham}}"><img src="/imgs/danhmuc/{{danhmuc}}/{{danhmuccon}}/{{idhinh}}.jpg" style="width:100%;height: 100%"></a>
		                    {{/ifCond}}
		                    <div class="w3-container">
		                        <h5>
		                            <a href="/product/details?id={{idsanpham}}"><b>{{name}}</b><br></a>
		                            <div style="color: black">
		                                Giá mua ngay:&nbsp;
		                                <span style="color: red; font-weight: bold;">{{number_format price}}</span><br>
		                                Thời gian còn lại:
		                                <div id="time" class="time" style="display:none">{{timeend}}</div></br>
                                        <div id="demo" class="timer" style="color: #609801"></div>
		                                Bids: {{Bid}}
		                            </div>
		                        </h5>
		                    </div>

		                </div>
		            </div>
		          {{/each}}
	    		</div>
	    	</div><!--col-md-10-->
	    </div><!--row-->
    </div><!--container-fluid-->
    <div class="w3-container">
	<div id="Demo1" class="w3-hide w3-animate-zoom">
	</div>
{{/each}}
{{else}}
{{#each productsDetailsChild}}
<div class="col-md-10">
		    	<div class="panel panel-default">
		         	<div class="panel-body">
			    	<div class="w3-container">
					<h1 style="color:#005555"><b><i>{{name}}</i></b></h1>
				</div>

				<div class="w3-content w3-display-container" style="max-width:500px">
				{{#ifCond danhmuccon 0}}
				  <img class="mySlides" src="/imgs/danhmuc/{{danhmuc}}/{{idhinh}}.jpg" style="width:100%;cursor: zoom-in"
				   onclick="document.getElementById('modal01').style.display='block'">
				   	<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
					    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
					    <div class="w3-modal-content w3-animate-zoom">
					       <img src="/imgs/danhmuc/{{danhmuc}}/{{idhinh}}.jpg" style="width:100%">
					    </div>
				  	</div>
				  <img class="mySlides" src="/imgs/danhmuc/{{danhmuc}}/{{idhinh}}_1.jpg" style="width:100%;cursor: zoom-in"
				  	onclick="document.getElementById('modal02').style.display='block'">
				   	<div id="modal02" class="w3-modal" onclick="this.style.display='none'">
					    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
					    <div class="w3-modal-content w3-animate-zoom">
					       <img src="/imgs/danhmuc/{{danhmuc}}/{{idhinh}}_1.jpg" style="width:100%">
					    </div>
				  	</div>
				  <img class="mySlides" src="/imgs/danhmuc/{{danhmuc}}/{{idhinh}}_2.jpg" style="width:100%;cursor: zoom-in"
				  	onclick="document.getElementById('modal03').style.display='block'">
				   	<div id="modal03" class="w3-modal" onclick="this.style.display='none'">
					    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
					    <div class="w3-modal-content w3-animate-zoom">
					       <img src="/imgs/danhmuc/{{danhmuc}}/{{idhinh}}_2.jpg" style="width:100%">
					    </div>
				  	</div>
			  	{{else}}
                        <img class="mySlides" src="/imgs/danhmuc/{{danhmuc}}/{{danhmuccon}}/{{idhinh}}.jpg" style="width:100%;cursor: zoom-in"
						onclick="document.getElementById('modal01').style.display='block'">
						<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
							<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
							<div class="w3-modal-content w3-animate-zoom">
								<img src="/imgs/danhmuc/{{danhmuc}}/{{danhmuccon}}/{{idhinh}}.jpg" style="width:100%">
							</div>
						</div>
						<img class="mySlides" src="/imgs/danhmuc/{{danhmuc}}/{{danhmuccon}}/{{idhinh}}_1.jpg" style="width:100%;cursor: zoom-in"
						onclick="document.getElementById('modal02').style.display='block'">
						<div id="modal02" class="w3-modal" onclick="this.style.display='none'">
							<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
							<div class="w3-modal-content w3-animate-zoom">
								<img src="/imgs/danhmuc/{{danhmuc}}/{{danhmuccon}}/{{idhinh}}_1.jpg" style="width:100%">
							</div>
						</div>
						<img class="mySlides" src="/imgs/danhmuc/{{danhmuc}}/{{danhmuccon}}/{{idhinh}}_2.jpg" style="width:100%;cursor: zoom-in"
						onclick="document.getElementById('modal03').style.display='block'">
						<div id="modal03" class="w3-modal" onclick="this.style.display='none'">
							<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
							<div class="w3-modal-content w3-animate-zoom">
								<img src="/imgs/danhmuc/{{danhmuc}}/{{danhmuccon}}/{{idhinh}}_2.jpg" style="width:100%">
							</div>
						</div>
                    {{/ifCond}}
				  <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:50%">
				    <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)" style="color:red">&#10094;</div>
				    <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)" style="color:red">&#10095;</div>
				    <span class="w3-badge demo w3-border w3-transparent w3-hover-red" onclick="currentDiv(1)"></span>
				    <span class="w3-badge demo w3-border w3-transparent w3-hover-red" onclick="currentDiv(2)"></span>
				    <span class="w3-badge demo w3-border w3-transparent w3-hover-red" onclick="currentDiv(3)"></span>
				  </div>
				</div><!--class="w3-content w3-display-container"-->
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-4">
							{{#each ../appreciate}}
								<div id="cong" style="display:none;">{{Cong}}</div>
								<div id="tru" style="display:none;">{{Tru}}</div>
							{{/each}}
							<div id="ID" style="display:none;">{{idsanpham}}</div>
							ID:<p style="color: red;display:inline-block" id="IDdaugia"></p>
							<div id="formatnamenguoiban" style="display:none;">{{namenguoiban}}</div>
							<p>Người Bán: <a href="#" id="namenguoiban"></a></p>
							<p>Điểm đánh giá: {{diemdanhgia}}</p>
							<p style="color: red; font-weight: bold;">Giá mua ngay: {{number_format price}}</p>
							<p id="gia" style="display:none;">{{giahientai}}</p>
							<p style="color:black">Bắt đầu: {{date_format timestart}}</p>
							<p style="color:black">Kết thúc:{{date_format timeend}}</p>
							<p id="timeend" style="display:none;">{{timeend}}</p>
							<div id="formatnamenguoimua" style="display:none;">{{namenguoimua}}</div>
							<p style="color:red;display: block;">Người mua:<a href="#" id="namenguoimua"></a></p>
							<p style="color:black">Điểm đánh giá: {{diemdanhgia}}</p>
							<p style="color:black">Giá hiện tại:{{number_format giahientai}}</p>
							{{#if ../checklogin}}
							<form id="frmBid" method="post" action="" name="frmBid">
							    <input type="text" class="form-control" id="InputBid" name="Bid" style="width: 200px">
							    <input type="hidden" class="form-control" id="idsanpham" name="idsanpham" value="{{idsanpham}}" style="width:200px">
							    <input type="hidden" class="form-control" id="nguoimua" name="nguoimua" value="{{../userID}}" style="width:200px">
							    <input type="hidden" class="form-control" id="thoigian" name="thoigian" style="width:200px">
							    <input type="hidden" class="form-control" id="bid" name="BidCount" style="width:200px" value="{{Bid}}">
							</form>
							<form id="frmFavourite" method="post" action="/product/details/Favor" name="frmFavourite">
								<input type="hidden" class="form-control" id="idnguoimua" name="idnguoimua" value="{{../userID}}" style="width: 200px">
							    <input type="hidden" class="form-control" id="idsanpham" name="idsanpham" value="{{idsanpham}}" style="width:200px">
							</form>
							</br>
							<button type="submit" class="btn btn-success" id="btnBid" title="Đấu giá">BID</button>
							<button type="button" class="btn btn-danger" aria-label="Left Align" title="Yêu thích" id="btnFavor">
							  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
							</button>
							{{/if}}
						</div>
						<div class="col-md-8">
							<table class="table table-hover" border="1">
								<thead bgcolor="#000">
									<tr style="color:white">
										<th>Người đấu giá</th>
										<th>Thời gian</th>
										<th>Giá tiền</th>
									</tr>
								</thead>
								<tbody>
									{{#each ../productsDetails}}
									<tr>
										<div class="formatTable" style="display:none;">{{namenguoimua}}</div>
										<th style="color:red"class="tableName" ></th>
										<th>{{date_format thoigian}}</th>
										<th>{{number_format gia}}</th>
									</tr>
									{{/each}}
								</tbody>
							</table>
						</div><!--col-md-8-->
					</div><!--row-->
				</div><!--class="container-fluid"-->
				<hr/>
				<div class="w3-container">
				  <h2 style="color:#DC861F"><b><i>Thông tin chi tiết</i></b></h2>
				</div>

				<div class="w3-bar w3-black">
				  <button class="w3-bar-item w3-button" onclick="openCity('Gioithieu')">Giới thiệu</button>
				  <button class="w3-bar-item w3-button" onclick="openCity('Thongtin')">Thông tin nhận hàng</button>
				  <button class="w3-bar-item w3-button" onclick="openCity('Baohanh')">Bảo hành</button>
				</div>

				<div id="Gioithieu" class="w3-container city">
				 	{{{intro}}}
				</div>

				<div id="Thongtin" class="w3-container city" style="display:none">
				   {{{receiveinfo}}}
				</div>
				<div id="Baohanh" class="w3-container city" style="display:none">
					{{{warranty}}}
				</div>
				<hr/>
		        <div class="w3-container">
		            <h2 style="color:#DC861F"><b><i>Có thể bạn quan tâm</i></b></h2>
		        </div>
		        <div class="w3-row-padding w3-margin-top">
		            {{#each ../productsDetailsCare}}
		            <div class="w3-third">
		                <div class="w3-card-2">
		                    {{#ifCond danhmuccon 0}}
		                    	<a href="/product/details?id={{idsanpham}}"><img src="/imgs/danhmuc/{{danhmuc}}/{{idhinh}}.jpg" style="width:100%;height: 100%"></a>
		                    {{else}}
		                    	<a href="/product/details?id={{idsanpham}}"><img src="/imgs/danhmuc/{{danhmuc}}/{{danhmuccon}}/{{idhinh}}.jpg" style="width:100%;height: 100%"></a>
		                    {{/ifCond}}
		                    <div class="w3-container">
		                        <h5>
		                            <a href="/product/details?id={{idsanpham}}"><b>{{name}}</b><br></a>
		                            <div style="color: black">
		                                Giá mua ngay:&nbsp;
		                                <span style="color: red; font-weight: bold;">{{number_format price}}</span><br>
		                                Thời gian còn lại:
		                                <div id="time" class="time" style="display:none">{{timeend}}</div></br>
                                        <div id="demo" class="timer" style="color: #609801"></div>
		                                Bids: {{Bid}}
		                            </div>
		                        </h5>
		                    </div>
		                </div>
		            </div>
		          {{/each}}
	    		</div>
	    	</div><!--col-md-10-->
	    </div><!--row-->
    </div><!--container-fluid-->
    <div class="w3-container">
	<div id="Demo1" class="w3-hide w3-animate-zoom">
	</div>
{{/each}}
{{/if}}
{{#section 'js'}}
	<script>
		function openCity(cityName) {
		    var i;
		    var x = document.getElementsByClassName("city");
		    for (i = 0; i < x.length; i++) {
		       x[i].style.display = "none";  
		    }
		    document.getElementById(cityName).style.display = "block";  
		}
		function myFunction(id) {
		    var x = document.getElementById(id);
		    if (x.className.indexOf("w3-show") == -1) {
		        x.className += " w3-show";
		    } else { 
		        x.className = x.className.replace(" w3-show", "");
		    }
		}
		///////
		// Display the result in the element with id="demo"
          var element=document.getElementsByClassName("timer");
          var element2=document.getElementsByClassName("time");
          var x = setInterval(function()
          {
          
          for(var i=0;i<element2.length;i++)
          {
            var now = new Date().getTime();
            var y=element2[i].innerHTML;
            var distance =new Date(y).getTime()-now ;
              // Time calculations for days, hours, minutes and seconds
              var days = Math.floor(distance / (1000 * 60 * 60 * 24));
              var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
              var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
              var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                element[i].innerHTML = days + "d " + hours + "h "
              + minutes + "m " + seconds + "s ";
          
          
          // If the count down is finished, write some text 
              if (distance < 0) {
                //clearInterval(x);
                   element[i].innerHTML = "EXPIRED";
                  
              }
            }
        }, 1000);
        var namenguoiban=document.getElementById('formatnamenguoiban').innerHTML;
        for(var i=0;i<namenguoiban.length;i++)
        {
        	if(i%2===0)
        	{
        		namenguoiban=namenguoiban.replace(namenguoiban[i],"*")
        	}
        }
        document.getElementById('namenguoiban').innerHTML=namenguoiban;
        var namenguoimua=document.getElementById('formatnamenguoimua').innerHTML;
        for(var i=0;i<namenguoimua.length;i++)
        {
        	if(i%2===0)
        	{
        		namenguoimua=namenguoimua.replace(namenguoimua[i],"*")
        	}
        }
        document.getElementById('namenguoimua').innerHTML=namenguoimua;
        var tableclass=document.getElementsByClassName('formatTable');
        var tableName=document.getElementsByClassName('tableName');
        for(var j=0;j<tableclass.length;j++)
        {
        	var temp=tableclass[j].innerHTML;
        	for(var i=0;i<temp.length;i++)
        	{
        		if(i%2==0)
        		{
        			temp=temp.replace(temp[i],"*");
        		}
        	}
        	tableName[j].innerHTML=temp;
        }
        var ID=document.getElementById('ID').innerHTML;
        document.getElementById('IDdaugia').innerHTML=23+ID;
        var timeend=document.getElementById('timeend').innerHTML;
        var getTimetimeend=new Date(timeend).getTime();
        var diff=new Date().getTime()-getTimetimeend;
        if(diff>=0)
        {
        	$('#frmBid,#btnBid,#frmFavourite,#btnFavor').css("display","none");
        }
        var temp=document.getElementById('gia').innerHTML;
		var price=parseInt(temp);
		if(price<100000)
		{
			var bid=price+10000;
		}
		else if(price>100000 && price<=1000000)
		{
			var bid=price+50000;
		}
		else if(price>1000000)
		{
			var bid=price+100000;
		}
		$('#InputBid').val(bid);
		var d=new Date();
		var datestring = d.getFullYear()  + "-" + (d.getMonth()+1) + "-" + d.getDate() + " " +
	d.getHours() + ":" + d.getMinutes()+":"+d.getSeconds();
		$('#thoigian').val(datestring);
		var cong=parseInt(document.getElementById('cong').innerHTML);
		var tru=parseInt(document.getElementById('tru').innerHTML);
		console.log(cong);
		console.log(tru);
		if(cong==0 && tru==0)
		{
			percent=0;
		}
		else if(cong==0 && tru!=0)
		{
			percent=-1;
		}
		else
		{
			var percent=(cong/(cong-tru))*100;
		}
		$('#btnBid').on('click',function()
			{
				var newBid=$('#InputBid').val();
				var oldBid=parseInt(document.getElementById('gia').innerHTML);
				if(newBid<=oldBid)
				{
					alert("Vui lòng đặt giá cao hơn!");
				}
				else if(newBid<bid)
				{
					alert("Vui lòng đặt giá cao hơn!");
				}
				else
				{
					
					if(percent==0 || percent>80)
					{
						if(confirm("Bạn muốn đặt giá cao nhất cho sản phẩm này!")==true)
						{
							$('#frmBid').submit();
						}
					}
					else if(percent<80)
					{
						alert("Bạn không thể đặt giá do điểm đánh giá quá thấp!");
					}
				}
			});
		$('#btnFavor').on('click',function()
			{
				$('#frmFavourite').submit();
			});
		var BidCount=document.getElementById('bid').value;
		var newBidCount=parseInt(BidCount)+1;
		$('#bid').val(newBidCount);
	</script>
{{/section}}