<nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/" style="line-height: 80px" title="Trang chủ">
                    <img src="/imgs/logo1.png">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form action="/product/byName?name={{name}}" method="get" class="navbar-form navbar-left" style="line-height: 100px;">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" style="width: 600px" name="name" id="name">
                    </div>
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </form>
                {{#if checklogin }}
                {{#ifCond permissions 1}}
                 <div class="navbar-text navbar-right" style="line-height: 80px">
              
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>{{name}}</b> <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                   <li><a href="/profile">Xem tài khoản</a></li>
                    <li><a href="/accountmanager">Quản lý tài khoản</a></li>
                 <li><a href="/danhsachdanhmuc">Quản lý danh mục</a></li>
                 <li><a href="/loaddoiban">Quản lý tài khoản bán hàng</a></li>
                 <li><a href="/danhsachquenmatkhau">Quản lý quên mật khẩu</a></li>
                   <li><a href="/logout">Đăng xuất</a></li>
                </ul>
                <p style="display: inline-block">&nbsp;|&nbsp;</p>
                    <a class="navbar-link" href="/trogiup"><b>Trợ giúp</b></a>
                </div>
                </div>
                {{/ifCond}}
                {{#ifCond permissions 0}}
                 <div class="navbar-text navbar-right" style="line-height: 80px">
              
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>{{name}}</b> <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                   <li><a href="/profile">Xem tài khoản</a></li>
                    <li><a href="/danhsachdanhgia">Danh sách đánh giá</a></li>
                 <li><a href="/yeuthich">Danh sách yêu thích</a></li>
                 <li><a href="/danhsachdangdaugia">Danh sách sản phẩm đang đấu giá</a></li>
                 <li><a href="/danhsachdamua">Danh sách sản phẩm đã mua</a></li>
                 <li><a href="/xinban">Xin cấp phép bán</a></li>
                   <li><a href="/logout">Đăng xuất</a></li>
                </ul>
                <p style="display: inline-block">&nbsp;|&nbsp;</p>
                    <a class="navbar-link" href="/trogiup"><b>Trợ giúp</b></a>
                </div>
                </div>
                 {{/ifCond}}
                 {{#ifCond permissions 2}}
                <div class="navbar-text navbar-right" style="line-height: 80px">
              
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>{{name}}</b> <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/profile">Xem tài khoản</a></li>
                    <li><a href="/danhsachdanhgia">Danh sách đánh giá</a></li>
                 <li><a href="/yeuthich">Danh sách yêu thích</a></li>
                 <li><a href="/danhsachdangdaugia">Danh sách sản phẩm đang đấu giá</a></li>
                 <li><a href="/danhsachdamua">Danh sách sản phẩm đã mua</a></li>
              
                  <li><a href="/danhsachdangban">Danh sách sản phẩm đang bán</a></li>
                   <li><a href="/danhsachdaban">Danh sách sản phẩm đã bán</a></li>
				   <li><a href="/dangban">Đăng bán</a></li>
                   <li><a href="/logout">Đăng xuất</a></li>
                </ul>
                <p style="display: inline-block">&nbsp;|&nbsp;</p>
                    <a class="navbar-link" href="/trogiup"><b>Trợ giúp</b></a>
                </div>
                </div>
                 {{/ifCond}}
                {{else}}
                <div class="navbar-text navbar-right" style="line-height: 80px">
                    <a style="font-weight: bold;" class="navbar-link" href="/login">Đăng Nhập</a>
                    <!--modal đăng nhập-->
                    <p style="display: inline-block;">&nbsp;|&nbsp;</p>
                    
                    <!--kết thúc modal đăng nhập-->
                    <a style="font-weight: bold;" class="navbar-link" href='/register'>Đăng ký</a>
                    <p style="display: inline-block;">&nbsp;|&nbsp;</p>


                    <!--modal quên mật Khẩu?-->
                    
                    <!--link page trợ giúp-->
                    <a style="font-weight: bold;" class="navbar-link" href="/trogiup">Trợ Giúp</a>
                </div>
                {{/if}}
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>