{{#section 'nav'}}
	{{>navbar}}
{{/section}}

<div class="col-md-10">
               <div class="container-fluid">
    <div class="row">
    <div class="panel panel-default">
                    
        <div class="panel-body">
            <h3 align="center">Điều khoản bán hàng</h3>

			Các quy định, chính sách và chế tài của Higata nhằm xây dựng một môi trường giao dịch online văn minh, hiện đại, thuận tiện và bảo đảm an toàn cho người bán và người mua. Vì vậy để trở thành người bán chuyên nghiệp trong mắt các khách hang của mình.bạn cần đọc kỹ những quy định và chính sách dành cho người bán này.

			Chính sách này được cập nhật dựa trên phân tích của thị trường, diễn biến của cộng động và các vấn đề bảo mật liên quan. </br>

			<b>1. Quyền lợi người bán hàng:</b></br>

			 - Được đăng tin bán hàng trên Higata với tùy chọn một trong 2 loại tài khoản: gian hàng chuẩn hoặc gian hàng cao cấp
			 </br>- Được đăng tin bán hàng theo hai hình thức, bán ngay hoặc bán đấu giá
			</br> - Được Higata quảng bá sản phẩm trên các kênh thông tin mua sắm
			 </br>- Được Higata hỗ trợ các cổng thanh toán trực tuyến như ATM online, Creadit card (Visa, master…)
			</br> - Được Higata hỗ trợ hoàn toàn quy trình bán hang và giao hang khép kín từ người mua đến người bán an toàn tuyệt đối trong giao dịch online
			</br>
			<b>2. Quy định đăng bán sản phẩm</b></br>

			Trước khi đăng thông tin sản phẩm bạn cần đọc, hiểu và chấp nhận quy định đăng thông tin sản phẩm từ Higata như sau:</br>

			 - Là người bán bạn phải tuyệt đối trung thực khi đăng các thông tin về sản phẩm
			 </br>- Đăng sản phẩm cần đặt sản phẩm đúng vị trí danh mục sản phẩm mục từ Cấp 1 đến Cấp 4 và thương hiệu nếu có. Đăng sản phẩm không đúng danh mục sẽ không được duyệt đăng sản phẩm
			 </br>- Tiêu đề sản phẩm phải để đúng tên sản phẩm, nội dung sản phẩm phải trình bày bằng tiếng việt có dấu.
			 </br>- Ảnh đăng sản phẩm tối thiểu phải 2 ảnh, Tối đa là 6 ảnh. thể hiện đầy đủ tình trạng thực tế và thông  tin sản phẩm, ảnh sản phẩm có kích thước tối thiểu 300px 1 chiều
			 </br>- Giá bán phải chính xác và chịu trách nhiệm cập nhật thông tin sản phẩm của mình.
			 </br>- Không được từ chối việc giao hang nếu khách hang đã thanh toán cho đơn đặt hang.
			 </br>- Không được lập các tài khoản ảo hoặc lôi kéo người than đẩy giá đấu giá sản phẩm do mình bán.
			 </br>- Phải thực hiện đầy đủ các bước trong qui trình bán hang chuyên nghiệp của Higata, qui trình giao hàng, cập nhật thông tin đơn đặt hàng, điều kiện thanh toán, điều kiện bảo hành, điều kiện đổi trả hàng
			 </br>- Sản phẩm đăng bán phải đề rõ nguồn gốc xuất xứ, hang chính hang hoặc hàng TQ, thông tin đầy đủ của sản phẩm, không được để sai lệch thông tin so với sản phẩm thực tế.
			 </br>- Tuyệt đối trung thực với khách hang của mình, quản lý nghiêm túc việc bán hàng, hoàn thành các khâu giao dịch và vận chuyển hàng như cam kết.
			 </br>- Không chấp nhận đăng  tin rao vặt hoặc các dịch vụ hình thức quảng cáo khác.
			 </br>
			<b>3. Các mặt hàng không được bán trên Higata</b></br>

			 - Các mặt hang văn hóa phẩm đồi trụy cấm lưu hành</br>
			 - Các chất gây nghiện, các chất kích thích</br>
			 - Vũ khí, hóa chất độc hại</br>
			 - Buôn bán tài liệu thông tin cá nhân người khác</br>
			 - Sản phẩm phần mềm không có bản quyền</br>
			 - Buôn bán con người và bộ phận con người</br>
			 - Các sản phẩm nồng độ cồn>15 độ</br>
			 - Động vật hoang dã và các sản phẩm từ động vật hoang dã</br>
			 - Các sản phẩm cấm lưu hành và buôn bán theo quy định hiện hành</br>

        </div>
    </div>
        </div>
                
</div>        
</div>