{{#section 'nav'}}
  {{>navbar}}
{{/section}}
<div class="container-fluid">
    <div class="row">
<div class="col-md-10">
  <div class="panel panel-default">

    <div class="panel-body">
      <h3 align="center">Gửi ý kiến đóng góp</h3>
      <h4>Cảm ơn quý khách hàng đã quan tâm đến Higata. Để website ngày càng hoàn thiện để đáp ứng nhu cầu của quý khách hàng, chúng tôi rất mong nhận được lời góp ý từ quý khách. Xin cảm ơn.</h4>
      <form action="" method="POST" role="form">
        <div class="form-group">
           <label for="">Nhập tiêu đề</label>
           <input type="text" class="form-control" id="" placeholder="Nhập tiêu đề">
        </div>
       
        <div class="form-group">
           <label for="">Nhập nội dung</label>
           <textarea class="form-control" rows="10" id="comment"></textarea>
           
        </div>

        <button type="submit" class="btn btn-primary">Gửi</button>
      </form>

  </div>
</div>
</div>
</div>