{{#section 'nav'}}
  {{>navbar}}
{{/section}}
<div class="container-fluid">
    <div class="row">
<div class="col-md-10">
    <div class="panel panel-default">
        <div class="panel-body">
           <h3 align="center">Trợ giúp khách hàng</h3>

            <h5>Để được trợ giúp, Quý khách vui lòng liên hệ:</h5>
            <h5>Địa chỉ: 227, Nguyễn Văn Cừ, Quận 5, TP Hồ Chí Minh</h5> 
            <h5>Tổng đài điện thoại: (08)62884499–(08)73089899</h5>
            <h5>Điện thoại: (84.8) 38 353.193</h5>
            <h5>Email: trogiupkhachhang@higata.com</h5>
        </div>
    </div>
</div>
 </div>
</div>