{{#section 'nav'}} {{>navbar}} {{/section}}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-10">
			<div class="panel panel-default">
				<div class="panel-body">



					{{#if checkerr }}
					<div class="alert alert-warning alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>						{{ err }}
					</div>
					{{/if}}
					<table class="table table-hover">
						<thead>
							<tr>
								<th>id</th>
								<th>name</th>
								<th>email</th>
								<th>password</th>
								<th>adress</th>
								<th>birth day</th>
								<th></th>

							</tr>
						</thead>
						<tbody>
							{{#each user }}
							<tr>
								<td>{{userID}}</td>
								<td>{{name}}</td>
								<td>{{email}}</td>
								<td>{{password}}</td>
								<td>{{adress}}</td>
								<td>{{DOB}}</td>
								<td>

									<form action="/accountmanager" method="POST" role="form">



										<button type="summit" class="btn btn-primary" name="userID" value="{{userID}}">Xóa</button>
									</form>
								</td>
							</tr>
							{{/each}}
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
</div>