{{#section 'nav'}}
  {{>navbar}}
{{/section}}
{{#if checklogin}}
<div class="col-md-10">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="w3-container">
        <h2 style="color: red;"><b>Đăng bán sản phẩm</b></h2>
        <div style="display: inline-block;">Loại: </div>

        <select id="loaihang" onclick="showloaihang()">
        {{#each danhmuc}}
          <option value="{{iddanhmuc}}">{{namedanhmuc}}</option>
        {{/each}}
        </select>

        <div id="showloaihang" style="display: inline-block;"></div>

      </div></br>
      <form style="" name="formdangban" method="post" action="">
        <div>
          <input type="hidden" name="thoidiemdangban" id="thoidiemdangban">
          <input type="hidden" name="danhmuc" id="danhmuc">
          <input type="hidden" name="danhmuccon" id="danhmuccon">
          <input type="hidden" name="idhinh" id="idhinh">
          <input type="hidden" name="nguoiban" id="nguoiban">
        </div>
        <div class="form-group col-sm-6">
          <label for="tensanpham">Tên sản phẩm</label>
          <input type="text" class="form-control" id="tensanpham" name="tensanpham" placeholder="Tên sản phẩm">
        </div>
        <div class="form-group col-sm-6">
          <label for="ketthucdaugia">Kết thúc đấu giá</label>
          <input type="datetime-local" class="form-control" id="ketthucdaugia" name="ketthucdaugia">
        </div>
        <div class="form-group col-sm-6">
          <label for="giakhoidiem">Giá khởi điểm</label>
          <input type="text" class="form-control" id="giakhoidiem" placeholder="Giá khởi điểm" name="giakhoidiem">
        </div>
        <div class="form-group col-sm-6">
          <label for="giamuangay">Giá mua ngay</label>
          <input type="text" class="form-control" id="giamuangay" placeholder="Giá mua ngay" name="giamuangay">
        </div>
        <div class="form-group">
          <label for="gioithieu">Thông tin sản phẩm</label>
          <textarea class="tinymce" id="gioithieu" name="gioithieu"></textarea>
        </div>
        <div class="form-group">
          <label for="thongtinnhanhang">Thông tin nhận hàng</label>
          <textarea class="tinymce" id="nhanhang" name="nhanhang"></textarea>
        </div>
        <div class="form-group">
          <label for="baohanh">Thời gian bảo hành</label>
          <textarea class="tinymce" id="baohanh" name="baohanh"></textarea>
        </div>
        <div class="form-group">
          <label for="hinhanh1">Hình ảnh</label>
          <input type="file" id="hinhanh1">
        </div>
        <div class="form-group">

          <input type="file" id="hinhanh2">
        </div>
        <div class="form-group">

          <input type="file" id="hinhanh3">
        </div>
        <p class="help-block">Chọn hình ảnh của sản phẩm cần đăng bán.</p>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Tôi đồng ý với các điều khoản mua bán.
          </label>
        </div>
        <button type="submit" class="btn btn-success">Đăng bán</button>
      </form>
    </div><!--panel-body-->
  </div>
</div><!--col-md-10-->
{{/if}}
{{#section 'js'}}
<script type="text/javascript">
  function showloaihang()
  {
    var x=document.getElementById("loaihang");
    var divshow=document.getElementById("showloaihang");
    var index=x.selectedIndex;

    {{#each danhmuc}}
      if(index===({{iddanhmuc}} - 1))
      {
        var html='<select id="loaihanglv2">'
        if(index===5 || index===6 || index===7)
        {
          $('#danhmuc').val({{iddanhmuc}});
          $('#danhmuccon').val(0);
              html += '<option value="{{iddanhmuccon}}">{{namedanhmuccon}}</option>' 
        }
        else
        {
          {{#each ../danhmuccon}}

            {{#ifCond danhmuc ../iddanhmuc}} 
              $('#danhmuc').val({{../iddanhmuc}});
              $('#danhmuccon').val({{danhmuc}});
              html += '<option value="{{iddanhmuccon}}">{{namedanhmuccon}}</option>'           
            {{/ifCond}}

          {{/each}}
        }
          html += '</select>'

      }
    {{/each}}

    divshow.innerHTML=html;
  }
  var d=new Date();
  var datestring = d.getFullYear()  + "-" + (d.getMonth()+1) + "-" + d.getDate() + " " +
  d.getHours() + ":" + d.getMinutes()+":"+d.getSeconds();
  $('#thoidiemdangban').val(datestring);
  $('#idhinh').val(1);//#tài set value picture here
  $('#nguoiban').val({{userID}});
</script>

{{/section}}