{{#section 'nav'}} {{>navbar}} {{/section}}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">


                    {{#if checkerr }}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>                        {{ err }}
                    </div>
                    {{/if}}

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên Danh Mục</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>




                            </tr>
                        </thead>
                        <tbody>



                            {{#each danhmuc}}
                            <tr>
                                <td>{{iddanhmuc}}</td>

                                <td>{{namedanhmuc}}</td>

                                <td>
                                    <form action="/danhsachdanhmuc" method="POST" role="form">
                                        <button type="summit" class="btn btn-primary" name="id" value="{{iddanhmuc}}">Chi Tiết</button>
                                    </form>
                                </td>

                                <td>
                                    <form action="/xoadanhmuc" method="POST" role="form">
                                        <button type="summit" class="btn btn-primary" name="idx" value="{{iddanhmuc}}">Xóa</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="/suadanhmuc" method="POST" role="form">


                                        <input type="text" name="name">

                                        <button type="summit" class="btn btn-primary" name="ids" value="{{iddanhmuc}}">Sửa</button>
                                    </form>
                                </td>

                                < </tr>
                                    {{/each}}
                        </tbody>
                    </table>
                    <form action="/themdanhmuc" method="POST" role="form">
                        <input type="text" name="namet">
                        <button type="summit" class="btn btn-primary" name="idt" value="{{iddanhmuc}}">Thêm</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>