{{#section 'nav'}} {{>navbar}} {{/section}}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-10">
			<div class="panel panel-default">
				<div class="panel-body">




					<form action="/loaddoiban" method="POST" role="form">





						<table class="table table-hover">
							<thead>
								<tr>
									<th>ID</th>
									<th>Nội dung đánh giá</th>
									<th>Điểm cộng</th>
									<th>Điểm trừ</th>
									<th>ID Người đánh giá</th>




								</tr>
							</thead>
							<tbody>



								{{#each review}}
								<tr>
									<td>{{reviewID}}</td>
									<td>{{content}}</td>
									<td>{{cong}}</td>
									<td>{{tru}}</td>
									<td>{{nguoidanhgiaID}}</td>




								</tr>
								{{/each}}
							</tbody>
						</table>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>