{{#section 'nav'}} {{>navbar}} {{/section}}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-10">
			<div class="panel panel-default">
				<div class="panel-body">









					{{#if checkerr }}
					<div class="alert alert-warning alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>						{{ err }}
					</div>
					{{/if}}
					<table class="table table-hover">
						<thead>
							<tr>
								<th>ID</th>
								<th>Tên Danh Mục</th>
								<th></th>
								<th></th>



							</tr>
						</thead>
						<tbody>



							{{#each danhmuccon}}
							<tr>
								<td>{{iddanhmuccon}}</td>
								<td>{{namedanhmuccon}}</td>
								<td>
									<form action="/danhsachsanpham" method="POST" role="form">
										<button type="summit" class="btn btn-primary" name="idsp" value="{{iddanhmuccon}}">Chi Tiết</button>
									</form>
								</td>
								<td>
									<form action="/xoadanhmuccon" method="POST" role="form">
										<button type="summit" class="btn btn-primary" name="idx2" value="{{iddanhmuccon}}">Xóa</button>
									</form>
								</td>

								<td>
									<form action="/suadanhmuccon" method="POST" role="form">
										<input type="text" name="name">
										<button type="summit" class="btn btn-primary" name="ids" value="{{iddanhmuccon}}">Sửa</button>
									</form>
								</td>


							</tr>
							{{/each}}
						</tbody>
					</table>

					<form action="/themdanhmuccon" method="POST" role="form">
						<input type="text" name="namet">
						<button type="summit" class="btn btn-primary" name="idt" value="{{danhmuc}}">Thêm</button>
					</form>


				</div>
			</div>
		</div>
	</div>
</div>