{{#section 'nav'}} {{>navbar}} {{/section}}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-10">
			<div class="panel panel-default">
				<div class="panel-body">




					<form action="/danhsachquenmatkhau" method="POST" role="form">




						{{#if checkerr }}
						<div class="alert alert-warning alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>							{{ err }}
						</div>
						{{/if}}
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Email</th>
									<th></th>





								</tr>
							</thead>
							<tbody>



								{{#each ds}}
								<tr>
									<td>{{email}}</td>
									<td>
										<button type="summit" class="btn btn-default" name="email" value="{{email}}">Reset</button>
									</td>




								</tr>
								{{/each}}
							</tbody>
						</table>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>