{{#section 'nav'}} {{>navbar}} {{/section}}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">




                    <form action="/loaddoiban" method="POST" role="form">




                        {{#if checkerr }}
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>                            {{ err }}
                        </div>
                        {{/if}}
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Thời gian</th>
                                    <th></th>
                                    <th></th>


                                </tr>
                            </thead>
                            <tbody>



                                {{#each user }}
                                <tr>
                                    <td>{{userID}}</td>
                                    <td>{{time}}</td>
                                    <td>

                                        <form action="" method="POST" role="form">


                                            <button type="submit" class="btn btn-primary" name="accept" value="{{userID}}">Cho phép</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form action="/xoadoiban" method="POST" role="form">
                                            <button type="submit" class="btn btn-success" name="userIDx" value="{{userID}}">Xóa</button>
                                        </form>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>