{{#section 'nav'}}
    {{>navbarafterlogin}}
{{/section}}
<div class="col-md-10">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="w3-container">
                <h2 style="color: red;"><b>Danh sách sản phẩm theo dõi</b></h2>
                <div style="display: inline-block;">Sắp xếp: </div>

                <select>
                    <option value="moinhat">Mới nhất</option>
                    <option value="caonhat">Giá cao nhất</option>
                    <option value="thapnhat">Giá thấp nhất</option>
                </select>

            </div>

            <div class="w3-row-padding w3-margin-top">
                <div class="w3-quarter">
                    <div class="w3-card-2">
                        <a href="#"><img src="/imgs/danhmuc/1/1/2.jpg" style="width:100%"></a>
                        <div class="w3-container">
                            <h6>
                                <a href="#"><b>Samsung Galaxy A5 (2017)</b><br></a>
                                <div style="color: black">
                                    Giá:&nbsp;
                                    <span style="color: red; font-weight: bold;">5,200,000 VNĐ</span><br>
                                    Thời gian còn lại: 1 ngày<br>
                                    Bids: 7
                                </div>
                            </h6>
                        </div>
                    </div>
                </div>

                <div class="w3-quarter">
                    <div class="w3-card-2">
                        <a href="#"><img src="/imgs/danhmuc/3/1/main.jpg" style="width:100%"></a>
                        <div class="w3-container">
                            <h6>
                                <a href="#"><b>Áo Khoác Hoodie</b><br><br></a>
                                <div style="color: black">
                                    Giá:&nbsp;
                                    <span style="color: red; font-weight: bold;">180,000 VNĐ</span><br>
                                    Thời gian còn lại: 1 ngày<br>
                                    Bids: 5
                                </div>
                            </h6>
                        </div>
                    </div>
                </div>

                <div class="w3-quarter">
                    <div class="w3-card-2" >
                        <a href="#"><img src="/imgs/danhmuc/6/main.jpg" style="width:100%"></a>
                        <div class="w3-container">
                            <h6>
                                <a href="#"><b>Harry Potter và Bảo Bối Tử Thần - Tập 7</b><br></a>
                                <div style="color: black">
                                    Giá:&nbsp;
                                    <span style="color: red; font-weight: bold;">110,000 VNĐ</span><br>
                                    Thời gian còn lại: 1 ngày<br>
                                    Bids: 6
                                </div>
                            </h6>
                        </div>
                    </div>
                </div>

                <div class="w3-quarter">
                    <div class="w3-card-2">
                        <a href="#"><img src="/imgs/danhmuc/2/1/main.jpg" style="width:100%"></a>
                        <div class="w3-container">
                            <h6>
                                <a href="#"><b>Đàn Guitar VN</b><br><br></a>
                                <div style="color: black">
                                    Giá:&nbsp;
                                    <span style="color: red; font-weight: bold;">890,000 VNĐ</span><br>
                                    Thời gian còn lại: 1 ngày<br>
                                    Bids: 3
                                </div>
                            </h6>
                        </div>
                    </div>
                </div>

            </div>

            <div class="w3-row-padding w3-margin-top">
                <div class="w3-quarter">
                    <div class="w3-card-2">
                        <a href="#"><img src="/imgs/danhmuc/2/2/main.jpg" style="width:100%"></a>
                        <div class="w3-container">
                            <h6>
                                <a href="#"><b>Ukulele</b><br><br></a>
                                <div style="color: black">
                                    Giá:&nbsp;
                                    <span style="color: red; font-weight: bold;">350,000 VNĐ</span><br>
                                    Thời gian còn lại: 5 ngày<br>
                                    Bids: 1
                                </div>
                            </h6>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>