{{#section 'nav'}} {{>navbar}} {{/section}}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-10">
			<div class="panel panel-default">
				<div class="panel-body">




					<form action="/loaddoiban" method="POST" role="form">





						<table class="table table-hover">
							<thead>
								<tr>
									<th>ID sản phẩm</th>
									<th>Tên sản phẩm</th>




								</tr>
							</thead>
							<tbody>



								{{#each product }}
								<tr>
									<td > <form action="/product/detailss"method="post">
                                    
                                    
                                    <button type="summit" class="btn btn-success" name="id" value="{{idsanpham}}">Xem</button>
                                    
                                   </form></td>
									<td>{{name}}</td>


								</tr>
								{{/each}}
							</tbody>
						</table>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>