{{#section 'nav'}} {{>navbar}} {{/section}}




<div class="container-fluid">
    <div class="row">

        <div class="container">
            <div id="dangnhap" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Đăng Nhập</div>
                        <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="/quenmatkhau">Quên Mật Khẩu?</a></div>
                    </div>

                    <div style="padding-top:30px" class="panel-body">

                        {{#section 'js'}}
                        <script src="/assets/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
                        <script src="/assets/jquery-validation-1.12.0/jquery.validate.min.js"></script>

                        <script type="text/javascript">
                            $('.datepicker').datepicker({
                                format: 'd/m/yyyy',
                                autoclose: true,
                            });

                            $('#frmRegister').validate({
                                rules: {

                                    password: {
                                        required: true,
                                        minlength: 6
                                    },

                                    newpassword: {
                                        required: true,
                                        minlength: 6
                                    },
                                    renewpassword: {
                                        equalTo: '#password2'
                                    },

                                },

                                messages: {

                                    password: {
                                        required: 'Vui lòng nhập mật khẩu',
                                        minlength: 'Mật khẩu phải dài ít nhất 6 ký tự'
                                    },
                                    newpassword: {
                                        required: 'Vui lòng nhập mật khẩu mới',
                                        minlength: 'Mật khẩu phải dài ít nhất 6 ký tự'
                                    },
                                    renewpassword: {
                                        equalTo: 'Mật khẩu nhập lại chưa khớp'
                                    },



                                },

                                errorElement: 'span',
                                errorClass: 'help-block',

                                highlight: function (element) {
                                    $(element)
                                        .closest('.form-group')
                                        .addClass('has-error');
                                },

                                success: function (label) {
                                    $(label)
                                        .closest('.form-group')
                                        .removeClass('has-error');

                                    label.remove();
                                },
                            });
                        </script>
                        {{/section}} {{#if checkerr }}
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>                            {{ err }}
                        </div>
                        {{/if}}
                        <form id="form" method="post" action="/changepassword" class="form-horizontal" role="form">

                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="password1" type="password" class="form-control" name="password" value="" placeholder="Nhập password cũ">
                            </div>

                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input id="password2" type="password" class="form-control" name="newpassword" placeholder="Nhập password mới">
                            </div>
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input id="password3" type="password" class="form-control" name="renewpassword" placeholder="Nhập lại password mới">
                            </div>






                            <div style="margin-top:10px" class="form-group">


                                <div class="col-sm-12 controls">
                                    <button type="submit" class="btn btn-success">
                                           Đổi mật khẩu
            </button>

                                </div>
                            </div>



                        </form>



                    </div>
                </div>
            </div>




        </div>

    </div>