{{#section 'nav'}}
    {{>navbarafterlogin}}
{{/section}}
<div class="col-md-10">
               
                <div class="panel panel-default">
                    <div class="panel-heading">Đơn hàng gần đây </div>
                    <div class="panel-body">
                       
                       <table class="table table-hover">
                           <thead>
                               <tr>
                                   <th>Mã Đơn Hàng</th>
                                   <th>sản phẩm</th>
                                     <th>Ngày đặt hàng</th>
                                       <th>Tiền cược</th>
                                         <th>Tình Trạng</th>
                               </tr>
                           </thead>
                           <tbody>
                               <tr>
                                   <td>003800</td>
                                   <td><img src="/imgs/danhmuc/1/1/main.jpg" alt="Điện thoại iphone 7 red" width="40"> Iphone 7 Red</td>
                                   <td>09/01/2017</td>
                                   <td>15.000.000 VND</td>
                                   <td>Đã mua thành công</td>
                               </tr>
                                 <tr>
                                   <td>003700</td>
                                   <td><img src="/imgs/danhmuc/1/1/1.jpg" alt="Điện thoại Galaxy note 7" width="40"> Samsung Galaxy Note 7</td>
                                   <td>08/01/2017</td>
                                   <td>14.000.000 VND</td>
                                   <td>Đã mua thành công</td>
                               </tr>
                                 <tr>
                                   <td>003600</td>
                                   <td style="width: 40%"><img src="/imgs/danhmuc/3/1/main.jpg" alt="Áo khoác Hoodie" width="40"> Áo khoác Hoodie</td>
                                   <td>07/01/2017</td>
                                   <td style="width: 150px">150.000 VND</td>
                                   <td>Đã mua thành công</td>
                               </tr>
                                <tr>
                                   <td>003500</td>
                                   <td style="width: 40%"><img src="/imgs/danhmuc/3/3/main.jpg" alt="Giày Bitis Hunter" width="40">Giày Bitis hunter</td>
                                   <td>06/01/2017</td>
                                   <td style="width: 150px">400.000 VND</td>
                                   <td>Sản phẩm đã được mua với giá 450.000 VND</td>
                               </tr>
                                <tr>
                                   <td>003400</td>
                                   <td style="width: 40%"><img src="/imgs/danhmuc/1/1/4.jpg" alt="Điện thoại asus zenfone 3" width="40"> Asus Zenfone 3 Deluxe</td>
                                   <td>05/01/2017</td>
                                   <td style="width: 150px">9.500.000 VND</td>
                                   <td>Đã mua thành công</td>
                               </tr>
                                <tr>
                                   <td>003400</td>
                                   <td style="width: 40%"><img src="/imgs/danhmuc/2/1/main.jpg" alt="Đàn guitar classic" width="40"> Đàn Guitar</td>
                                   <td>05/01/2017</td>
                                   <td style="width: 150px">560.000 VND</td>
                                   <td>Đã mua thành công</td>
                               </tr>
                                 <tr>
                                   <td>003400</td>
                                   <td style="width: 40%"><img src="/imgs/danhmuc/1/1/2.jpg" alt="Điện thoại Galaxy a5 2017" width="40"> Samsung Galaxy A5 2017</td>
                                   <td>05/01/2017</td>
                                   <td style="width: 150px">5.000.000 VND</td>
                                   <td>Sản phẩm đã được mua với giá 6.500.000 VND</td>
                               </tr>
                           </tbody>
                       </table>
                       
                    </div>
                </div>