{{#section 'nav'}} {{>navbar}} {{/section}}
<div class="row">

    <div class="container">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{#section 'css'}}
                    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
                    <style type="text/css">
                        label {
                            font-weight: normal !important;
                        }
                    </style>
                    {{/section}} {{#section 'js'}}
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0/js/bootstrap-datepicker.min.js"></script>
                    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>

                    <script type="text/javascript">
                        $('.datepicker').datepicker({
                            format: 'd/m/yyyy',
                            autoclose: true,
                        });

                        $('#frmRegister').validate({
                            rules: {

                                adress: {
                                    required: true
                                },
                                name: {
                                    required: true
                                },
                                email: {
                                    required: true,
                                    email: true
                                },
                                DOB: {
                                    required: true
                                },
                            },

                            messages: {

                                adress: {
                                    required: 'Vui lòng nhập địa chỉ',

                                },

                                name: {
                                    required: 'Vui lòng nhập họ tên'
                                },
                                email: {
                                    required: 'Vui lòng nhập email',
                                    email: 'EMail không đúng định dạng'
                                },
                                DOB: {
                                    required: 'Vui lòng chọn ngày sinh'
                                },
                            },

                            errorElement: 'span',
                            errorClass: 'help-block',

                            highlight: function (element) {
                                $(element)
                                    .closest('.form-group')
                                    .addClass('has-error');
                            },

                            success: function (label) {
                                $(label)
                                    .closest('.form-group')
                                    .removeClass('has-error');

                                label.remove();
                            },
                        });
                    </script>
                    {{/section}} {{#if checkerr }}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Warning!</strong> {{ err }}
                    </div>
                    {{/if}}

                    <form class="form-horizontal" method="post" action="" id="frmRegister">

                        <div class="form-group">
                            <label for="txtEmail" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="txtEmail" placeholder="Email" name="email">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtName" class="col-sm-2 control-label">Họ tên</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="txtName" placeholder="Họ tên" name="name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtadress" class="col-sm-2 control-label">Adress</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="txtadress" placeholder="Địa chỉ" name="adress">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtDOB" class="col-sm-2 control-label">Ngày sinh</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control datepicker" id="txtDOB" placeholder="dd/mm/yyyy" name="DOB">
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">
            <i class="fa fa-check"></i>
            Lưu
            </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>