{{#section 'nav'}} {{>navbar}} {{/section}}




<div class="container-fluid">
    <div class="row">

        <div class="container">
            <div id="dangnhap" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Đăng Nhập</div>
                        <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="/quenmatkhau">Quên Mật Khẩu?</a></div>
                    </div>

                    <div style="padding-top:30px" class="panel-body">


                        {{#if checkerr }}
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>                            {{ err }}
                        </div>
                        {{/if}}
                        <form id="form" method="post" action="/login" class="form-horizontal" role="form">

                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="email" type="email" class="form-control" name="email" value="" placeholder="Nhập Email">
                            </div>

                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input id="password" type="password" class="form-control" name="password" placeholder="password">
                            </div>



                            <div class="input-group">
                                <div class="checkbox">
                                    <label>
                <input type="checkbox" name="remember">
                Ghi nhớ
            </label>
                                </div>
                            </div>


                            <div style="margin-top:10px" class="form-group">


                                <div class="col-sm-12 controls">
                                    <button type="submit" class="btn btn-success">
                                           Đăng nhập
            </button>

                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-12 control">
                                    <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                        Bạn chưa có tài khoản?
                                        <a href="/register">
                                           Đăng ký ngay
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>



                    </div>
                </div>
            </div>




        </div>

    </div>