{{#section 'nav'}} {{>navbar}} {{/section}}
<div class="container-fluid">
	<div class="row">
		<div class="container">
			<div class="col-md-10">
				<div class="panel panel-default">
					<div class="panel-body">



						<table class="table table-hover">

							<tr>
								<th>Mã người dùng</th>
								<td>{{userID}}</td>
							</tr>
							<tr>
								<th>Tên</th>
								<td> {{name}}</td>
							</tr>
							<tr>
								<th>Email</th>
								<td> {{email}}</td>
							</tr>
							<tr>
								<th>Địa chỉ</th>
								<td>{{adress}}</td>
							</tr>
							<tr>
								<th>Ngày sinh</th>
								<td> {{DOB}}</td>
							</tr>
							<tr>
								<th>Quyền</th>
								<td> {{permission}}</td>
							</tr>
							<tr>
								<th>Thời gian tạo</th>
								<td>{{timestamp}}</td>
							</tr>
						</table>




						<form action="/editprofile">


							<button type="summit" class="btn btn-success">Sửa thông tin tài khoản</button>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>