{{#section 'nav'}} {{>navbar}} {{/section}}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{#if checkerr }}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>                        {{ err }}
                    </div>
                    {{/if}}

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên sản phẩm</th>
                                <th>Giá khởi điểm</th>
                                <th>Giá bán ngay</th>
                                <th>ID người bán</th>




                            </tr>
                        </thead>
                        <tbody>



                            {{#each sanpham}}
                            <tr>
                                <td>
                                      <form action="/product/detailss"method="post">
                                    
                                    
                                    <button type="summit" class="btn btn-success" name="id" value="{{idsanpham}}">Xem</button>
                                    
                                   </form>
                                    </td>

                                <td>{{name}}</td>

                                <td>
                                    {{giakhoidiem}}
                                </td>

                                <td>
                                    {{price}}
                                </td>
                                <td>
                                    {{nguoiban}}
                                </td>
                                



                            </tr>
                            {{/each}}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>