{{#section 'nav'}} {{>navbar}} {{/section}}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{#if checkerr }}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Warning!</strong> {{ err }}
                    </div>
                    {{/if}}

                    <form class="form-horizontal" method="post" action="" id="frmLogin">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">

                                <h3>Bạn muốn trở thành người bán?</h3>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">
   <i class="fa fa-check"></i>
           Xin bán
            </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>