<!DOCTYPE html>
<html lang="en">
<head>
	<script src='https://www.google.com/recaptcha/api.js'></script>
    <title>Higata - Auction</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">

        /*        display: inline-block;*/    
        .navbar{
            height:110px; 
            background-color: #fff !important;
            border: 0 !important;
        }

        body{ margin: 0 4% !important; }
        /*fly-out menu*/
        #flyout_menu {
            font-weight: 600;
            width: 200px; 
        }

        #flyout_menu ul, li {
            list-style: none;
            margin: 0;
            padding: 0; 
        }

        #flyout_menu ul li.hover,
        #flyout_menu ul li:hover { position: relative; z-index: 599; }

        #flyout_menu ul ul{
            visibility: hidden;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 598;
        }

        #flyout_menu ul li:hover > ul { visibility: visible; }

        #flyout_menu ul ul { top: 0; left: 100%; }

        #flyout_menu span, #flyout_menu a {
            display: inline-block;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            text-decoration: none; 
        }

        #flyout_menu li { background: #333333; }
        #flyout_menu li:hover, #flyout_menu li.active { background: #1b9bff; }

        #flyout_menu a {
            color: #FFF;
            line-height: 160%;
            padding: 16px 8px 16px 28px;
            width: 164px; 
        }

        #flyout_menu ul ul li {
            background: #1b9bff;
            border-bottom: 1px solid #1b9bff; 
        }

        #flyout_menu ul ul li:hover { 
            background: #5FD367; 
        }

        .col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
            position: relative;
            min-height: 1px;
            padding-right: 10px;
            padding-left: 10px;
        }
        .col-xs-5ths {
            width: 20%;
            float: left;
        }
        @media (min-width: 768px) {
            .col-sm-5ths {
                width: 20%;
                float: left;
            }
        }
        @media (min-width: 992px) {
            .col-md-5ths {
                width: 20%;
                float: left;
            }
        }
        @media (min-width: 1200px) {
            .col-lg-5ths {
                width: 20%;
                float: left;
            }
        }

    </style>
    <link rel="shortcut icon" href="/imgs/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/assests/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    {{{_sections.css}}}
    <!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/> -->
</head>
<body>

    {{{_sections.nav}}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: #222222; height: 45px; border: 0">
                        <h3 class="panel-title" style="color: #fff; line-height: 25px;"><b>Danh mục</b></h3>
                    </div>
                    <div id='flyout_menu' style="width: 100%">
                        <ul>
                            {{#each layoutVM.danhmuc}}

                                <li>
                                    <a href='/product/byCat?id2={{iddanhmuc}}&id1=0'>
                                        <div class="w3-threequarter">{{namedanhmuc}}</div>
                                        
                                    </a>
                                    <ul>

                                    {{#each ../layoutVM.danhmuccon}}
                                    
                                        {{#ifCond danhmuc ../iddanhmuc}} 
                                            
                                            <li><a href='/product/byCat?id1={{iddanhmuccon}} &id2={{../iddanhmuc}}'><span>{{namedanhmuccon}}</span></a></li>
                                            
                                            
                                        {{/ifCond}}
                                          
                                    {{/each}}
                                    </ul>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>


    {{{body}}}

    <div class="panel panel-default" style="border: 0; margin-top: 4%">
        <div class="panel-body" style="margin: 0 10%">
            <div class="w3-third">
                <p><b>Về chúng tôi</b></p>
                <a href="/gioithieu">Giới thiệu</a><br>
                <a href="/gopy">Gửi góp ý/Than phiền</a>
            </div>
            <div class="w3-third">
                <p><b>FAQ</b></p>
                <a href="/dieukhoan">Điều khoản bán hàng</a><br>
                <a href="#">Thanh toán</a>
            </div>
            <div class="w3-third">
                <iframe src="https://www.facebook.com/plugins/follow.php?href=https%3A%2F%2Fwww.facebook.com%2Ftai.chaule&width=450&height=80&layout=standard&size=small&show_faces=true&appId" width="450" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
            

        </div>
    </div>


    <script type="text/javascript" src="/assests/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/assests/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assests/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="/assests/tinymce/init-tinymce.js"></script>
    {{{_sections.js}}}

    <script type="text/javascript">
        var myIndex = 0;
        var myVar;
        showDivs(myIndex);
        carousel();

        function carousel() {
            myIndex++;
            showDivs(myIndex); 
            myVar = setTimeout(carousel, 10000); // Change image every 2 seconds
        }

        function plusDivs(n) {
            clearTimeout(myVar);
            showDivs(myIndex += n);
            myVar = setTimeout(carousel, 10000);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) {
                myIndex = 1
            }    
            if (n < 1) {
                myIndex = x.length
            }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";  
            }
            x[myIndex-1].style.display = "block";
        }
        

    </script>
</body>
</html>